body{
    background-color: azure;
    text-align: center;
    margin: 0;
}
.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}
.header{
    background: #555;
    color: #f1f1f1;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}