body{
    background-color: azure;
    margin: 0;
}
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}
.content{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.footer{
    background: blue;
}
